<div class="ekart--product--container">
    <!-- 
        <img [src] = "product.imagePath" height="500px" width="500px" >

        <p>Name : {{ product.name }}</p>
        <p>Price : {{ '$ ' + product.price }}</p>
        <p>Description : {{ product.description }}</p>
        <p>Product-Color : {{ product.color }} </p>
        <p>Discounted price : {{ product.price*product.discount/100 }}</p>
        <p>Price after discount : {{ getDiscountedPrice().toFixed(1) }}</p>
        <p>Product stock : {{ product.stock > 0 ? 'only ' + product.stock + ' items left':  'Not in Stock' }}</p>

        <button (click) = "onDecrement()">-</button>
        <span>{{ addToCart }}</span>
        <button (click) = "onIncrement()">+</button> -->
        <app-search (searchTextChanged) = 'setSearchText($event)'></app-search>
        <!-- <div *ngFor="let listOfString of listOfString">
            <p>Current elememt of array is {{ listOfString}}</p>
        </div> -->
        <app-product-list [searchText]="searchText" #productListComponent></app-product-list>
        <product-detail *ngIf="productListComponent.selectedProduct"></product-detail>
</div>
 