<div class="ekart--search--product">
  <input
    class="ekart--search--product-input"
    #searchInput
  />
  <!-- [(ngModel)]="searchText"
    (input)="onSearchTextChanged()" -->
  <button class = "btns btns-search" (click)="updateSearchText()">Search</button>
  <!-- (click)="updateSearchText(searchInput)" -->
  <!-- [ngClass]="{'btns': true, 'btns-search': searchText, 'btns-search-disabled' : !searchText}" [disabled]="!searchText" -->
</div>

<div class="ekart-search-result-for">
  <p *ngIf="searchText != '' "><strong>Search Result for:</strong> {{ searchText }}</p>
</div>
